<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>AI</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/ai/valid-prompt"
          class="link-primary"
          >General “Prompt Structure”</a
        >
      </h6>
      <p class="text-muted">General “Prompt Structure” for Clear Results.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/ai/copilot-in-ide"
          class="link-primary"
          >Copilot in IDE</a
        >
      </h6>
      <p class="text-muted">Tips and Tricks for Copilot in VS Code and VS.</p>
    </li>
  </ul>
</div>
