<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>Angular</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/angular/jasmine-tests/redefine-property-for-tests"
          class="link-primary"
          >Redefine property of mock object</a
        >
      </h6>
      <p class="text-muted">Redefine property of jasmine mock object.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/angular/jasmine-tests/run-selected-test"
          class="link-primary"
          >Run test commands</a
        >
      </h6>
      <p class="text-muted">Run test commands cheat sheet.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/angular/i18n-pass-params"
          class="link-primary"
          >i18n parameters</a
        >
      </h6>
      <p class="text-muted">i18n - how to pass parameters.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/angular/i18n-multiple-files-same-language"
          class="link-primary"
          >i18n multiple translation files</a
        >
      </h6>
      <p class="text-muted">how to load multiple translation files.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/angular/package-lock-json-in-git"
          class="link-primary"
          >package-lock.json in Git</a
        >
      </h6>
      <p class="text-muted">
        package-lock.json in Git, npm commands, benefits.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/angular/caching-sharereplay"
          class="link-primary"
          >shareReplay</a
        >
      </h6>
      <p class="text-muted">rxjs shareReplay, example</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/angular/overusing-changedetectorref"
          class="link-primary"
          >Stop misusing ChangeDetectorRef in Angular.</a
        >
      </h6>
      <p class="text-muted">.</p>
    </li>
  </ul>
</div>
