<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>Architecture</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/architecture/clean-arch-vs-vertical-slice-arch"
          class="link-primary"
          >Clean vs Vertical Slice Architectures</a
        >
      </h6>
      <p class="text-muted">
        Comparsion of CA and VSA by real pull requests. Idea of Hybrid
        approaches.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/architecture/clean-architecture-pros-and-cons"
          class="link-primary"
          >Clean Architectures pros and cons</a
        >
      </h6>
      <p class="text-muted">Clean Architectures pros and cons.</p>
    </li>
    <li>
      <h5>REST</h5>
      <ul>
        <li>
          <h6>
            <a
              href="https://gramli.github.io/posts/architecture/rest/problem-details-http-api"
              class="link-primary"
              >Problem Details</a
            >
          </h6>
          <p class="text-muted">Problem details standart and cheat sheet.</p>
        </li>
        <li>
          <h6>
            <a
              href="https://gramli.github.io/posts/architecture/rest/rest-api-routes-naming"
              class="link-primary"
              >Rest API routes naming</a
            >
          </h6>
          <p class="text-muted">Rest API routes naming best practices.</p>
        </li>
      </ul>
    </li>
  </ul>
</div>
