<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>ASP.NET</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/aspnet-web-api-caching-strategies"
          class="link-primary"
          >ASP.NET caching strategies</a
        >
      </h6>
      <p class="text-muted">
        Summary of different types caching strategies in ASP.NET.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/secure-asp-net-headers"
          class="link-primary"
          >Secure ASP.NET Server Headers</a
        >
      </h6>
      <p class="text-muted">
        How to configure headers for security in an ASP.NET app.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/minimap-api-pros-and-cons"
          class="link-primary"
          >ASP.NET Minimap API pros and cons</a
        >
      </h6>
      <p class="text-muted">
        Summary of the pros and cons of the ASP.NET Minimal API.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/configure-class-programically"
          class="link-primary"
          >ASP.NET Configure programically</a
        >
      </h6>
      <p class="text-muted">How to set options in ASP.NET programically.</p>
    </li>
    <!--<li>
                <h6><a href="https://gramli.github.io/posts/code/aspnet/problem-details" class="link-primary">Problem details</a></h6>
                <p class="text-muted">Problem details object in ASP.NET.</p>
              </li>-->
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/output-caching-with-authorization"
          class="link-primary"
          >Output Caching</a
        >
      </h6>
      <p class="text-muted">
        Output caching in ASP.NET, Custom Output Caching Policy for
        authorization header, Minimal API
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/response-caching-minimal-api"
          class="link-primary"
          >Response Caching</a
        >
      </h6>
      <p class="text-muted">
        Response caching in ASP.NET, non MVC service, Minimal API
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/response-vs-output-caching"
          class="link-primary"
          >Response Caching vs Output Caching</a
        >
      </h6>
      <p class="text-muted">
        Response Caching vs Output Caching in ASP.NET, Minimal API
      </p>
    </li>
  </ul>
</div>
