<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>ASP.NET</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/minimal-api-multiple-auth-schemes"
          class="link-primary"
          >C# Minimal API: Multiple Authentication Schemes with Swagger
          Support</a
        >
      </h6>
      <p class="text-muted">
        How to configure multiple authentication schemes (JWT, Basic) in a
        Minimal API with Swagger support.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/minimal-api-keep-endpoints-clean"
          class="link-primary"
          >C# Minimal API: A Practical Way to Keep Endpoints Clean</a
        >
      </h6>
      <p class="text-muted">
        How to keep your Minimal API endpoints clean and maintainable by using
        extensions.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/response-caching-minimal-api"
          class="link-primary"
          >Response Caching</a
        >
      </h6>
      <p class="text-muted">
        Client-side caching headers in ASP.NET Core Minimal APIs.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/output-caching-with-authorization"
          class="link-primary"
          >Output Caching</a
        >
      </h6>
      <p class="text-muted">
        Output caching in ASP.NET, Custom Output Caching Policy for
        authorization header, Minimal API
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/aspnet-web-api-caching-strategies"
          class="link-primary"
          >ASP.NET Caching Strategies</a
        >
      </h6>
      <p class="text-muted">
        Overview of different caching strategies in ASP.NET.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/secure-asp-net-headers"
          class="link-primary"
          >Secure ASP.NET Server Headers</a
        >
      </h6>
      <p class="text-muted">
        Configuring security headers in ASP.NET applications.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/minimap-api-pros-and-cons"
          class="link-primary"
          >Minimal API Pros & Cons</a
        >
      </h6>
      <p class="text-muted">
        Pros and cons of ASP.NET Core Minimal APIs.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/configure-class-programically"
          class="link-primary"
          >Configure Options Programmatically</a
        >
      </h6>
      <p class="text-muted">Configuring options programmatically in ASP.NET Core.</p>
    </li>
    <!--<li>
                <h6><a href="https://gramli.github.io/posts/code/aspnet/problem-details" class="link-primary">Problem details</a></h6>
                <p class="text-muted">Problem details object in ASP.NET.</p>
              </li>-->
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/aspnet/response-vs-output-caching"
          class="link-primary"
          >Response vs Output Caching</a
        >
      </h6>
      <p class="text-muted">
        Comparison: Response Caching vs. Output Caching.
      </p>
    </li>
  </ul>
</div>
