<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>Configuration</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/configuration/project-internal-visible"
          class="link-primary"
          >Visible internals from different project</a
        >
      </h6>
      <p class="text-muted">See internal classes from another C# project.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/configuration/package-json-versioning-caret"
          class="link-primary"
          >Package json Versioning - Caret</a
        >
      </h6>
      <p class="text-muted">Caret Ranges cheat sheet.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/configuration/nvm-basic-commands"
          class="link-primary"
          >NVM commands - basic</a
        >
      </h6>
      <p class="text-muted">NVM commands cheat sheet.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/configuration/npm-commands"
          class="link-primary"
          >NPM commands</a
        >
      </h6>
      <p class="text-muted">Npm commands cheat sheet.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/configuration/k8s-cheat-sheet"
          class="link-primary"
          >K8s, Istio, Argo cheat sheet</a
        >
      </h6>
      <p class="text-muted">Kubernetes, Istio, Argo cheat sheet.</p>
    </li>
  </ul>
</div>
