<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>C#</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/csharp/remove-diacritics"
          class="link-primary"
          >Remove Diacritics</a
        >
      </h6>
      <p class="text-muted">
        Extension method to remove diacritics using ISO-8859-8.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/csharp/czech-encodings"
          class="link-primary"
          >Czech encoding in .NET</a
        >
      </h6>
      <p class="text-muted">How to add czech encoding into .NET project.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/csharp/enumerable-zip"
          class="link-primary"
          >Enumerable.ZIP</a
        >
      </h6>
      <p class="text-muted">Combine two sequences element by element.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/csharp/fluent-result-unwrap"
          class="link-primary"
          >FluentResult UnwrapOrDefault</a
        >
      </h6>
      <p class="text-muted">
        Extension method for the `Result` object of FluentResult lib.
      </p>
    </li>
  </ul>
</div>
