<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>Git</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/git/troubleshooting/commit-to-master"
          class="link-primary"
          >Commit to master</a
        >
      </h6>
      <p class="text-muted">How to revert commit to master.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/git/troubleshooting/sourcetree-troubleshooting"
          class="link-primary"
          >SourceTree Troubleshooting Guide</a
        >
      </h6>
      <p class="text-muted">Fixes for startup crashes, rebase failures, and password resets.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/git/git-cleaning"
          class="link-primary"
          >Cleaning in Git</a
        >
      </h6>
      <p class="text-muted">How to delete branches, stashes etc..</p>
    </li>
  </ul>
</div>
