<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>Git</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/git/troubleshooting/commit-to-master"
          class="link-primary"
          >Commit to master</a
        >
      </h6>
      <p class="text-muted">How to revert commit to master.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/git/troubleshooting/sourcetree-missing-last-commit"
          class="link-primary"
          >SourceTree rebase failed, missing last commit</a
        >
      </h6>
      <p class="text-muted">SourceTree drops last commit, how to revert.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/git/troubleshooting/source-tree-change-password"
          class="link-primary"
          >SourceTree change user password</a
        >
      </h6>
      <p class="text-muted">How to change user password in SourceTree.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/git/troubleshooting/sourcetree-do-not-start"
          class="link-primary"
          >SourceTree not starting</a
        >
      </h6>
      <p class="text-muted">SourceTree app do not start properly.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/git/git-cleaning"
          class="link-primary"
          >Cleaning in Git</a
        >
      </h6>
      <p class="text-muted">How to delete branches, stashes etc..</p>
    </li>
  </ul>
</div>
