<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>SQL</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/sql/postgresql/array-in-query"
          class="link-primary"
          >Postgresql array</a
        >
      </h6>
      <p class="text-muted">Postgresql array tips.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/sql/postgresql/indexes"
          class="link-primary"
          >Composite Index and Separate Indexes</a
        >
      </h6>
      <p class="text-muted">Postgresql composite index and separate indexes.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/sql/postgresql/bulk-insert"
          class="link-primary"
          >Bulk insert optimalization</a
        >
      </h6>
      <p class="text-muted">Postgresql Bulk insert optimalization tip.</p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/sql/postgresql/db-clean-and-optimize"
          class="link-primary"
          >Database Optimization and Cleanup</a
        >
      </h6>
      <p class="text-muted">PostgreSQL Database Optimization and Cleanup.</p>
    </li>
  </ul>
</div>
