<div class="col-sm-auto col-md-auto col-lg-4">
  <h4>TypeScript</h4>
  <ul>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/typescript/ts-utilities"
          class="link-primary"
          >TypeScript type utilities</a
        >
      </h6>
      <p class="text-muted">
        Lesser-known but highly useful TypeScript type utilities.
      </p>
    </li>
    <li>
      <h6>
        <a
          href="https://gramli.github.io/posts/code/typescript/declare-tips"
          class="link-primary"
          >TypeScript declare tips</a
        >
      </h6>
      <p class="text-muted">
        Node.JS Custom env variables, Declare types from different module ...
      </p>
    </li>
  </ul>
</div>
